<div class="dialog-header"></div>
<div class="dialog-box">
    <h1>Select a star</h1>
    <div class="star-type-gallery">
        <img class="star-type-gallery-item" src="../assets/img/star.png" ng-click="selectStar('star.png')">
        <img class="star-type-gallery-item" src="../assets/img/partystar.png" ng-click="selectStar('partystar.png')">
        <img class="star-type-gallery-item" src="../assets/img/lonestar.png" ng-click="selectStar('lonestar.png')">
        <img class="star-type-gallery-item" src="../assets/img/oneupstar.png" ng-click="selectStar('oneupstar.png')">
        <img class="star-type-gallery-item" src="../assets/img/goldstar.png" ng-click="selectStar('goldstar.png')">
        <img class="star-type-gallery-item" src="../assets/img/presostar.png" ng-click="selectStar('presostar.png')">
        <img class="star-type-gallery-item" src="../assets/img/shippingstar.png" ng-click="selectStar('shippingstar.png')">
        <img class="star-type-gallery-item" src="../assets/img/brainystar.png" ng-click="selectStar('brainystar.png')">
    </div>
</div>
