#messages {
  color: lightgrey;
}
body {
  background-color: #f9f9f9;
}
#auth-header {
  background-color: #f07d00;
  height: 60px;
  padding: 0;
  margin: 0 auto;
}
#select-recipient {
  width: 500px;
}
