#messages {
  color: lightgrey
}

body {
    font-family: sans-serif;
    background-color: #f9f9f9;
}

a {
    color: #069;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button:focus {
    outline:0;
}

.app-container {
    margin-top: 80px;

    #star-form {
        background-color: #fff;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        padding: 20px;
        margin: 0 auto;
        width: 1020px;

        #select-recipient_value {
            display: inline-block;
            font-size: 17px;
            height: 42px;
            margin: 0 40px 0 200px;
            width: 800px;

            &::-webkit-input-placeholder {
                font-size: 17px;
            }
        }

        #select-recipient_dropdown {
            margin-left: 200px;
            width: 800px;

            .angucomplete-row {
                &:hover {
                    background-color: #409B9D;
                }
            }
        }

        .select-star-type {
            color: #f07d00;
            background: #f9f9f9;
            border: 1px solid #f1f1f1;
            border-radius: 5px;
            display: inline-block;
            font-size: 16px;
            padding: 18px;
            position: absolute;
            width: 170px;
            vertical-align: 50%;

            &:hover {
                border-color: #ddd;
            }

            #select-star-icon {
                width: 131px;
            }
        }

        button[name="submit-star"] {
            color: #fff;
            background: #f07d00;
            border: none;
            border-radius: 5px;
            display: inline-block;
            font-size: 16px;
            margin-top: 10px;
            padding: 18px;
            position: relative;
            left: 842px;
            width: 170px;
            vertical-align: 50%;
        }

        #star-explanation {
            font-size: 17px;
            height: 105px;
            margin: 15px 0 0 200px;
            width: 800px;
            resize: none;

            &::-webkit-input-placeholder {
                font-size: 17px;
            }
        }
    }

    .star-feed {
        border-top: 1px solid #e5e5e5;
        margin: 40px auto 0 auto;
        padding-top: 40px;
        width: 1060px;

        .star-feed-item {
            background-color: #fff;
            border: 1px solid #e5e5e5;
            border-radius: 5px;
            margin-bottom: 20px;
            padding: 40px;

            -webkit-animation: bounce 800ms ease-out;
            -moz-animation: bounce 800ms ease-out;
            -o-animation: bounce 800ms ease-out;
            animation: bounce 800ms ease-out;

            @-webkit-keyframes bounce {
              0% {
                -webkit-transform:translateY(-100%);
                opacity: 0;
              }
              5% {
                -webkit-transform:translateY(-100%);
                opacity: 0;
              }
              15% {
                -webkit-transform:translateY(0);
                padding-bottom: 5px;
              }
              30% {
                -webkit-transform:translateY(-50%);
              }
              40% {
                -webkit-transform:translateY(0%);
                padding-bottom: 6px;
              }
              50% {
                -webkit-transform:translateY(-30%);
              }
              70% {
                -webkit-transform:translateY(0%);
                padding-bottom: 7px;
              }
              80% {
                -webkit-transform:translateY(-15%);
              }
              90% {
                -webkit-transform:translateY(0%);
                padding-bottom: 8px;
              }
              95% {
                -webkit-transform:translateY(-10%);
              }
              97% {
                -webkit-transform:translateY(0%);
                padding-bottom: 9px;
              }
              99% {
                -webkit-transform:translateY(-5%);
              }
              100% {
                -webkit-transform:translateY(0);
                padding-bottom: 9px;
                opacity: 1;
              }
            }

            .star-type {
                background-color: #f9f9f9;
                border: 1px solid #eee;
                border-radius: 5px;
                display: inline-block;
                padding: 10px;
                width: 132px;
            }

            .star-contents {
                display: inline-block;
                padding-left: 30px;
                width: 80%;
                vertical-align: top;

                .date-awarded {
                    font-size: 14px;
                }

                .recipient {
                    color: #3F3F3F;
                    font-size: 16px;
                    margin-top: 8px;
                }

                .star-testimonial {
                    color: #414141;
                    font-size: 24px;
                    line-height: 1.3em;
                }

                .star-likes {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }

                .star-comments {
                    border: 1px solid #e5e5e5;
                    border-radius: 5px;
                    padding: 10px;
                    margin-top: 10px;

                }
            }
        }
    }
}

#auth-header {
    background-color: #f07d00;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    height: 60px;
    line-height: 1.5;
    min-width: 980px;
    padding: 0;
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;

    .stars-logo {
        height: 30px;
        display: inline-block;
        padding: 15px 0 0 20px;
    }

    .signin-meta {
        color: #fff;
        display: inline-block;
        float: right;
        padding: 18px 30px 0 0;
        text-align: right;

        .user-email {
            cursor: default;
        }

        a {
            color: #fff;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#select-recipient {
    width: 500px;
}

.dialog-box {
    h1 {
        font-size: 28px;
        font-weight: 100;
    }

    .star-type-gallery {

        .star-type-gallery-item {
            background-color: #fff;
            border: 1px solid #f0f0f0;
            border-radius: 5px;
            display: inline-block;
            margin: 0 13px 10px 0;
            width: 340px;

            &:hover {
                background-color: #f9f9f9;
            }
        }
    }
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    background-color: #fff !important;
    width: 750px !important;
}


